body {
    background-size: cover;
    background-image: url('banner2.jpg');
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Star Jedi', 'Arial', sans-serif;
    text-shadow: 2px 2px 4px black;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 2px black;
}

.links {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
